{% extends 'base.html' %}

{% block content %}
<div class="text-center">

    <h1>Über uns</h1>
    <p>**Unsere 10-jährige Erfahrung und die Selbstständigkeit seit 2022 
        in Wandschalung und Deckenschalung: Eine Historie der Innovation**
        Willkommen auf unserer Webseite, die einen Blick auf unsere eindrucksvolle 
        Reise durch 10 Jahre Fachkompetenz wirft, die uns im Jahr 2022 schließlich 
        zur Selbstständigkeit im Bereich Wandschalung und Deckenschalung geführt hat. 
        Unsere Geschichte ist eine Geschichte der kontinuierlichen Innovation, des Lernens und des Engagements 
        für höchste Qualität.</p>

</div>
{% endblock %}
