{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="text-center ">
  <h2>Was wir bieten</h2>
  <div class="d-inline-block text-start">
    <ul>
      <li>Faire Löhne </li>
      <li>13. Monatslohn und Spesen</li>
      <li>Stabile Baustellen in der Deutschschweiz</li>
      <li>Freundliches und erfahrenes Team</li>
      <li>Unterkünfte für Mitarbeiter vorhanden</li>
    </ul>
  

    <h2>Gesuchte Berufe</h2>
    <ul>
      <li>Schaler</li>
      <li>Maurer</li>
      <li>Kranführer</li>
      <li>Bauarbeiter / Allrounder</li>
    </ul>
  </div>
  <div class="kontakt d-inline-block text-start">
    <p><strong>Kontakt für Bewerbung:</strong><br>
    Nicolae Marius<br>
    Tel: +41 76 123 45 67<br>
    E-Mail: spiridusbaugmbh@gmail.com</p>
  </div>
</div>
{% endblock %}



