{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-5">Referenzen</h1>

    <!-- Одна категория -->
    <div class="mb-5">
        <h3 class="text-center">Schalung/Wende/Decken/Schaler/Kranführer/Umbau/Vorarbeiter</h3>
    

        <div class="row mt-4">

            <div class="col-6 col-md-3 mb-4">
                <a href="{% static 'img/r26.png' %}" target="_blank">
                    <img src="{% static 'img/r26.png' %}" class="img-fluid rounded shadow gallery-thumb" alt="Bild 20">
                </a>
            </div>
            <div class="col-6 col-md-3 mb-4">
                <a href="{% static 'img/r25.jpg' %}" target="_blank">
                    <img src="{% static 'img/r25.jpg' %}" class="img-fluid rounded shadow gallery-thumb" alt="Bild 20">
                </a>
            </div>

            <div class="col-6 col-md-3 mb-4">
                <a href="{% static 'img/h1.jpg' %}" target="_blank">
                    <img src="{% static 'img/h1.jpg' %}" class="img-fluid rounded shadow gallery-thumb" alt="Bild 1">
                </a>
            </div>

            <div class="col-6 col-md-3 mb-4">
                <a href="{% static 'img/r21.jpg' %}" target="_blank">
                    <img src="{% static 'img/r21.jpg' %}" class="img-fluid rounded shadow gallery-thumb" alt="Bild 20">
                </a>
            </div>

            <div class="col-6 col-md-3 mb-4">
                <a href="{% static 'img/r22.jpg' %}" target="_blank">
                    <img src="{% static 'img/r22.jpg' %}" class="img-fluid rounded shadow gallery-thumb" alt="Bild 20">
                </a>
            </div>

            <div class="col-6 col-md-3 mb-4">
                <a href="{% static 'img/h2.jpg' %}" target="_blank">
                    <img src="{% static 'img/h2.jpg' %}" class="img-fluid rounded shadow gallery-thumb" alt="Bild 2">
                </a>
            </div>
            <div class="col-6 col-md-3 mb-4">
                <a href="{% static 'img/h3.png' %}" target="_blank">
                    <img src="{% static 'img/h3.png' %}" class="img-fluid rounded shadow gallery-thumb" alt="Bild 3">
                </a>
            </div>
            <div class="col-6 col-md-3 mb-4">
                <a href="{% static 'img/h4.png' %}" target="_blank">
                    <img src="{% static 'img/h4.png' %}" class="img-fluid rounded shadow gallery-thumb" alt="Bild 4">
                </a>
            </div>
            <div class="col-6 col-md-3 mb-4">
                <a href="{% static 'img/h5.png' %}" target="_blank">
                    <img src="{% static 'img/h5.png' %}" class="img-fluid rounded shadow gallery-thumb" alt="Bild 4">
                </a>
            </div>
            <div class="col-6 col-md-3 mb-4">
                <a href="{% static 'img/r1.jpg' %}" target="_blank">
                    <img src="{% static 'img/r1.jpg' %}" class="img-fluid rounded shadow gallery-thumb" alt="Bild 4">
                </a>
            </div>
            <div class="col-6 col-md-3 mb-4">
                <a href="{% static 'img/r2.jpg' %}" target="_blank">
                    <img src="{% static 'img/r2.jpg' %}" class="img-fluid rounded shadow gallery-thumb" alt="Bild 4">
                </a>
            </div>
            <div class="col-6 col-md-3 mb-4">
                <a href="{% static 'img/r3.jpg' %}" target="_blank">
                    <img src="{% static 'img/r3.jpg' %}" class="img-fluid rounded shadow gallery-thumb" alt="Bild 4">
                </a>
            </div>
            <div class="col-6 col-md-3 mb-4">
                <a href="{% static 'img/r4.jpg' %}" target="_blank">
                    <img src="{% static 'img/r4.jpg' %}" class="img-fluid rounded shadow gallery-thumb" alt="Bild 4">
                </a>
            </div>
            
            <div class="col-6 col-md-3 mb-4">
                <a href="{% static 'img/r8.jpg' %}" target="_blank">
                    <img src="{% static 'img/r8.jpg' %}" class="img-fluid rounded shadow gallery-thumb" alt="Bild 4">
                </a>
            </div>
            <div class="col-6 col-md-3 mb-4">
                <a href="{% static 'img/r10.jpg' %}" target="_blank">
                    <img src="{% static 'img/r10.jpg' %}" class="img-fluid rounded shadow gallery-thumb" alt="Bild 4">
                </a>
            </div>
            <div class="col-6 col-md-3 mb-4">
                <a href="{% static 'img/r11.jpg' %}" target="_blank">
                    <img src="{% static 'img/r11.jpg' %}" class="img-fluid rounded shadow gallery-thumb" alt="Bild 4">
                </a>
            </div>
             
            <div class="col-6 col-md-3 mb-4">
                <a href="{% static 'img/r5.jpg' %}" target="_blank">
                    <img src="{% static 'img/r5.jpg' %}" class="img-fluid rounded shadow gallery-thumb" alt="Bild 4">
                </a>
            </div>
            <div class="col-6 col-md-3 mb-4">
                <a href="{% static 'img/r6.jpg' %}" target="_blank">
                    <img src="{% static 'img/r6.jpg' %}" class="img-fluid rounded shadow gallery-thumb" alt="Bild 4">
                </a>
            </div>
            <div class="col-6 col-md-3 mb-4">
                <a href="{% static 'img/r7.jpg' %}" target="_blank">
                    <img src="{% static 'img/r7.jpg' %}" class="img-fluid rounded shadow gallery-thumb" alt="Bild 4">
                </a>
            </div>
            <div class="col-6 col-md-3 mb-4">
                <a href="{% static 'img/r9.jpg' %}" target="_blank">
                    <img src="{% static 'img/r9.jpg' %}" class="img-fluid rounded shadow gallery-thumb" alt="Bild 4">
                </a>
            </div>
            <div class="col-6 col-md-3 mb-4">
                <a href="{% static 'img/r13.png' %}" target="_blank">
                    <img src="{% static 'img/r13.png' %}" class="img-fluid rounded shadow gallery-thumb" alt="Bild 13">
                </a>
            </div>
            <div class="col-6 col-md-3 mb-4">
                <a href="{% static 'img/r14.jpg' %}" target="_blank">
                    <img src="{% static 'img/r14.jpg' %}" class="img-fluid rounded shadow gallery-thumb" alt="Bild 14">
                </a>
            </div>
            <div class="col-6 col-md-3 mb-4">
                <a href="{% static 'img/r15.jpg' %}" target="_blank">
                    <img src="{% static 'img/r15.jpg' %}" class="img-fluid rounded shadow gallery-thumb" alt="Bild 15">
                </a>
            </div>
            <div class="col-6 col-md-3 mb-4">
                <a href="{% static 'img/r16.jpg' %}" target="_blank">
                    <img src="{% static 'img/r16.jpg' %}" class="img-fluid rounded shadow gallery-thumb" alt="Bild 16">
                </a>
            </div>
            <div class="col-6 col-md-3 mb-4">
                <a href="{% static 'img/r17.jpg' %}" target="_blank">
                    <img src="{% static 'img/r17.jpg' %}" class="img-fluid rounded shadow gallery-thumb" alt="Bild 17">
                </a>
            </div>
            <div class="col-6 col-md-3 mb-4">
                <a href="{% static 'img/r18.jpg' %}" target="_blank">
                    <img src="{% static 'img/r18.jpg' %}" class="img-fluid rounded shadow gallery-thumb" alt="Bild 18">
                </a>
            </div>
            <div class="col-6 col-md-3 mb-4">
                <a href="{% static 'img/r19.jpg' %}" target="_blank">
                    <img src="{% static 'img/r19.jpg' %}" class="img-fluid rounded shadow gallery-thumb" alt="Bild 19">
                </a>
            </div>
            <div class="col-6 col-md-3 mb-4">
                <a href="{% static 'img/r20.jpg' %}" target="_blank">
                    <img src="{% static 'img/r20.jpg' %}" class="img-fluid rounded shadow gallery-thumb" alt="Bild 20">
                </a>
            </div>


             
        </div>
    </div>
    
</div>
{% endblock %}

{% block extra_css %}
<style>
.gallery-thumb {
    transition: transform 0.3s ease;
}
.gallery-thumb:hover {
    transform: scale(1.07);
}
</style>
{% endblock %}
